@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Organisation.Organisation>
@{
    ViewBag.Title = "Organisatie";
    Layout = "_Layout";
}

<h1 class="paginatitel paginatitel__bovenaan">Organisaties</h1>

<div class="card-list mb-4">
    <form action="/organisation/1" method="post" class="m-auto">
        <input class="circle circle__antwerpen" type="submit" value="Antwerpen">
    </form>
</div>