@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Organisation.Organisation>
@{
	ViewBag.Title = "Organisatie";
	Layout = "_Layout";
}

<h1>Organisations</h1>

<form action="/organisation/1" method="post">
    <input type="submit" value="Selecteer Antwerpen">
</form>