/*
    Main content rules
*/

@import "../abstracts/all";

.content {
	padding-top: 60px;

	@include screen-from('tablet') {
		padding-top: 70px;
	}

	&.content--more-top {
		padding-top: 120px;
		
		@include screen-from('tablet') {
			padding-top: 150px;
		}
	}
	
}