@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Toegang geweigerd";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">U beschikt niet over de nodige rechten om deze bron te raadplegen.</p>
</header>
