@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email bevestiging";
}

<main class="container">
    <h1>@ViewData["Title"]</h1>
    <div>
        <p>
            Thank you for confirming your email.
        </p>
    </div>
</main>