@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Emailbevestiging";
}

<main class="container">
    <h1>@ViewData["Title"]</h1>
    <div>
        <p>
            Bedankt om uw e-mailadres te bevestigen.
        </p>
    </div>
</main>