@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}
<main class="container">
    <h1 class="paginatitel paginatitel__bovenaan">@ViewData["Title"]</h1>
    <p>
        Je ontvangt van ons een e-mail met verdere instructies om je wachtwoord opnieuw in te stellen.
    </p>
</main>