@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord vergeten";
}
<main class="container">
    <h1 class="paginatitel paginatitel__bovenaan">@ViewData["Title"]</h1>
    <p>
        Indien er een email gelinkt is aan een account, ontvang je een email van ons met verdere instructies.
    </p>
</main>