@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Wachtwoord vergeten";
}
<main class="container">
    <h1 class="paginatitel paginatitel__bovenaan">@ViewData["Title"]</h1>
    <h4>Vul je e-mailadres in</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn__witteAchtergrond btn__links">Verzenden</button>
            </form>
        </div>
    </div>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
