@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<main class="container">
    <header>
        <h1 class="paginatitel paginatitel__bovenaan paginatitel__links">@ViewData["Title"]</h1>
        <p>Je bent succesvol afgemeld.</p>
    </header>
</main>
