@model COI.BL.Domain.Questionnaire.Choice

<div class="form__field mt-4">
	<h2>@Model.Inquiry</h2>
	
	<ul>
		@foreach (var option in Model.Options)
		{
			<li>@option.Content: @option.Answers.Count keer gestemd</li>
		}
	</ul>
</div>
