@model COI.UI.MVC.Views.Contact.Index

@{
    ViewData["Title"] = "Contact";
}

<main>
    <section class="contact" id="contact-us">
        <div class="contact-wrap">
            <!--left pannel start-->
            <div class="contact-wrap__pannel-left">
                <h3 class="contact-wrap__pannel-left__h3 paginatitel paginatitel__bovenaan">Contacteer ons</h3>
                <div class="contact-wrap__pannel-left__contact-form">
                    <form
                        method="POST"
                        asp-action="SendContact"
                        accept-charset="UTF-8"
                    >
                        <input
                            type="text"
                            required=""
                            placeholder="Name"
                            name="name"
                            class="form-control form__inputfield form__inputfield2 inputContact"
                        />
                        <input
                            type="email"
                            required=""
                            placeholder="Your email address"
                            class="form-control form__inputfield form__inputfield2 inputContact"
                            name="email"
                        />
                        <textarea
                  required=""
                  placeholder="Message"
                  id="comments"
                  class="form-control form__inputfield form__inputfield2 inputContact"
                  name="comments"
                ></textarea>
                        <button
                            name="send"
                            type="submit"
                            class="btn btn__witteAchtergrond btn__links"
                        >
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            <!--left pannel end-->
            <!--right pannel start-->
            <div class="contact-wrap__pannel-right">
                <h3 class="contact-wrap__pannel-right__h3 paginatitel paginatitel__bovenaan">Contact</h3>
                <p class="margin-t35rem">
                    Tree Company <br />
                    <a href="mailto:info@treecompany.be" target="_blank"
                    >info@treecompany.be</a
                    >
                    <br />
                    <a href="www.treecompany.be" target="_blank"
                    >www.treecompany.be</a
                    >
                </p>
                <p>
                    Jozef Hermanslei 45 <br />
                    2640 Mortsel <br />
                    BE 0840.111.951
                </p>
            </div>
            <!--right pannel end-->
        </div>
    </section>
</main>