@model COI.UI.MVC.Views.Contact.Index

@{
    ViewData["Title"] = "Contact";
}

<main>
    <h1 class="paginatitel paginatitel__bovenaan">
        Contact
    </h1>
    <div class="contact">
        <div class="contact__landing">
            <div class="contact__landing__content">
                <div class="contact__landing__content__picture"></div>
                <h2 class="contact__landing__content__h2">
                    <strong>Emre</strong>
                    Arslan
                </h2>
                <p class="contact__landing__content__p">
                    Toegepaste informatica aan Karel de Grote Hogeschool <br/>
                    <strong>Systeem- en Netwerkbeheer</strong>
                </p>
            </div>
        </div>
        <div class="contact__landing">
            <div class="contact__landing__content">
                <div class="contact__landing__content__picture"></div>
                <h2 class="contact__landing__content__h2">
                    <strong>Jordy</strong>
                    Bruyns
                </h2>
                <p class="contact__landing__content__p">
                    Toegepaste informatica aan Karel de Grote Hogeschool <br />
                    <strong>Applicatieontwikkeling</strong>
                </p>
            </div>
        </div>
        <div class="contact__landing">
            <div class="contact__landing__content">
                <div class="contact__landing__content__picture"></div>
                <h2 class="contact__landing__content__h2">
                    <strong>Kristof</strong>
                    Buts
                </h2>
                <p class="contact__landing__content__p">
                    Toegepaste informatica aan Karel de Grote Hogeschool <br />
                    <strong>Applicatieontwikkeling</strong>
                </p>
            </div>
        </div>
        <div class="contact__landing">
            <div class="contact__landing__content">
                <div class="contact__landing__content__picture"></div>
                <h2 class="contact__landing__content__h2">
                    <strong>Ian</strong>
                    Jakubek
                </h2>
                <p class="contact__landing__content__p">
                    Toegepaste informatica aan Karel de Grote Hogeschool <br />
                    <strong>Applicatieontwikkeling</strong>
                </p>
            </div>
        </div>
        <div class="contact__landing">
            <div class="contact__landing__content">
                <div class="contact__landing__content__picture"></div>
                <h2 class="contact__landing__content__h2">
                    <strong>Wout</strong>
                    Peeters
                </h2>
                <p class="contact__landing__content__p">
                    Toegepaste informatica aan Karel de Grote Hogeschool <br />
                    <strong>Applicatieontwikkeling</strong>
                </p>
            </div>
        </div>
        <div class="contact__landing">
            <div class="contact__landing__content">
                <div class="contact__landing__content__picture"></div>
                <h2 class="contact__landing__content__h2">
                    <strong>Jana</strong>
                    Wouters
                </h2>
                <p class="contact__landing__content__p">
                    Toegepaste informatica aan Karel de Grote Hogeschool <br />
                    <strong>Applicatieontwikkeling</strong>
                </p>
            </div>
        </div>
    </div>
</main>