/*
    Comments
*/
@import "../abstracts/all";

.comments {
  
  .comment {
    display: grid;
    grid-template-rows: auto 30px;
    grid-template-columns: 50px auto;
    grid-column-gap: 20px;
    grid-template-areas: 
      "comment_profile comment_content"
      "comment_profile comment_options";
    margin-bottom: 50px;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    .comment__name {
      margin-bottom: 0.75rem;
    }

    .comment__content {
      grid-area: comment_content;
      
      
      .comment__text {
        margin-bottom: 0.75rem;
      }

      .comment__images {
        display: flex;
        flex-flow: row wrap;
        margin-right: -10px;

        img {
          width: 100px;
          height: 80px;
          border-radius: 13px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          object-fit: cover;
          margin-right: 10px;
          margin-top: 10px;

          @include screen-from('tablet') {
            width: 200px;
            height: 160px;
          }
        }
      }
    }

    .comment__profile {
      grid-area: comment_profile;

      .comment__profile-picture {
        display: block;
        border-radius: 50%;
        width: 100%;
        padding-top: 100%;
        background-position: center;
        background-size: cover;
      }
    }

    .options-bar_options {
      grid-area: comment_options;
    }
    
  }
  
}