/*
  Editor box (write a comment, idea, etc..)
*/

@import "../components/button";
@import "../abstracts/all";

.editor {
  
  .editor__text-container {
    position: relative;

    .editor__options {
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      top: 0;
      left: -2px;
      
      .editor__option {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        background-color: transparent;
        font-weight: bold;
        border: none;
        outline: none;
        box-shadow: none;
        color: $color-text-dark;
        margin-right: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
        
        &:hover {
          color: darken($color-text-dark, 50%);
          transition: transform 0.1s ease-in-out;

          i {
            transition: transform 0.1s ease-in-out;
            transform: scale(1.2);
          }
        }
      }
    }
    
    .editor__text {
      width: 100%;
      max-width: 100%;
      margin-top: 35px;
      padding: 0 0 0 10px;
      border: none;
      border-left: 1px solid $color-dark;
      overflow: hidden;
      outline: none;
      resize: none;
      
      &.editor__text--title {
        font-weight: bold;
        font-size: 14px;
        padding: 10px;
      }
    }
  }

  .editor__images {
    display: flex;
    flex-flow: row wrap;
    margin-right: -10px;

    img {
      width: 100px;
      height: 80px;
      border-radius: 13px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      object-fit: cover;
      margin-right: 10px;
      margin-top: 10px;
      cursor: pointer;

      @include screen-from('tablet') {
        width: 200px;
        height: 160px;
      }
    }
  }
  
  .editor__videos {
    display: flex;
    flex-flow: row wrap;
    margin-right: -10px;

    video {
      width: 100px;
      height: 80px;
      border-radius: 13px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      object-fit: cover;
      margin-right: 10px;
      margin-top: 10px;
      cursor: pointer;

      @include screen-from('tablet') {
        width: 200px;
        height: 160px;
      }
    }
  }

  .editor__file-upload {
    display: none;
  }

  .editor__submit {
    opacity: 0.65;
    margin-top: 10px;
    transition: opacity 0.2s ease-in-out;

    &:not(.editor__submit--show) {
      cursor: default;
      
      &:hover {
        background-color: $color-dark;
  
        &::after {
          content: "Tekst te kort";
          background-color: $color-dark;
          position: absolute;
          top: 12px;
          left: 0;
          width: 100%;
        }
      }
    }
    
    &.editor__submit--show {
      cursor: pointer;
      opacity: 1;

      &:hover {
        background-color: $color-dark-hover;
      }
    }
  }
    
}