/*
  Form
*/

@import "../components/textbox";
@import "../components/button";

.form {
  margin-top: 60px;

  .form__field {
    margin-bottom: 25px;

    h1, h2, h3, h4 {
      margin-bottom: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    label {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .form__submit {
    margin-top: 25px;
  }
  
}