/*
  Form
*/

@import "../components/textbox";
@import "../components/button";
@import "../components/circle";
@import "../components/dropdown";

.form__errors {
  list-style: none;
  color: var(--danger);
  li {
    margin-bottom: 10px;
    
    &.success {
      color: var(--success);
    }
  }
}

.form {
  margin-top: 60px;

  .form__field {
    margin-bottom: 25px;

    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    label {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .form__submit {
    margin-top: 25px;
  }
}

/* form 1 tekstveld breed */
.form__inputfield {
  margin-bottom: 25px;

  /* form 2 tekstvelden naast elkaar */
  &.form__inputfield2 {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 70%;

    /* Email input form login*/
    &.form__popupEmail {
      margin-top: 25px;
    }

    /* Password input form */
    &.form__popupWachtwoord {
      @include screen-from("tablet") {
        margin-bottom: 35px;
      }
    }
  }

  @include screen-from("tablet") {
    margin-bottom: 50px;
  }
}