/*
  Hero
*/

@import "../abstracts/all";

.hero {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  
  &.hero__project{
    height: 50vh;
  }

  .hero__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: calc(80px + 20vh);
    // justify-content: center;
    height: 100%;
    width: 90%;
    max-width: 800px;
    margin: {
      left: auto;
      right: auto;
    }

    .hero__title {
      font-size: 40px;
      color: $color-text-white;
      text-align: center;
      margin-bottom: 30px;

      @include screen-from("tablet") {
        font-size: 82px;
        line-height: 90px;
        margin-bottom: 60px;
      }
    }

    .hero__button {
      padding: 14px 32px;

      @include screen-from("tablet") {
        padding: 16px 48px;
        font-size: 1.25rem;
      }
    }
  }

  &.hero--medium {
    height: 30vh;

    @include screen-from('tablet') {
      height: 400px;
    }
    
    .hero__container {
      padding-top: 0;
      justify-content: center;
    }
  }
}
