/*
    Navbar
*/
@import "../abstracts/all";

.navbar {
  background-color: $color-background;
  box-shadow: 0 4px 10px 4px rgba($color-text-dark, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 20;

  .navbar-brand {
    color: $color-primary;
    font-weight: bold;
    font-size: 24px;
    font-family: $font-title;
  }

  .navbar-toggler {
    border: none;
  }

  .nav-item {
    margin-right: 20px;
    margin-left: 10px;
  }

  @include screen-from('tablet') {
    padding: {
      left: 50px;
      right: 50px;
    }
  }
}