/*
    Popup
*/

.popup {
  .popup__background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
  }

  /* Popup design */
  &.popup__content {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 640px;
  }

  .popup__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: $color-background;
    z-index: 6;
  }
}

/* Header afbeelding linker kolom bij popup */
.popup__afbeelding {
  @include screen-from("tablet") {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  /* overgang voor aanduiden district */
  &.district {
    transition: 0.3s;
  }
}

/* Popup voor zoekbalk over heel het scherm*/
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $color-background; /* Fallback color */
  background-color: transparent;
}

/* Linkerdeel op desktop */
.popup__afbeeldingkolom {
  padding: 0px;
  height: 0px;

  @include screen-from("tablet") {
    height: auto;
  }
}

/* Rechterdeel op desktop */
.login-popup__container {
  margin: 0px;
  padding: 0px;
}
