@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Project.Project>
@{
		ViewData["Title"] = "Home";
}

<section
	class="hero"
	style="background-image: url('img/pexels-photo-167676.jpeg')"
>
	<div class="hero__container">
		<h1 class="hero__title">
			Geef jouw idee voor de toekomst van de haven
		</h1>
		<a asp-controller="Project" asp-action="Index" class="btn btn--org hero__button">Geef jouw idee!</a>
	</div>
</section>

<!-- Content -->
<main class="content content--shadow container">
    <h1 class="mb-5">Open projecten</h1>

    <div class="card-list mb-4">
        @foreach (var project in Model)
        {
            <div class="card">
                <img src="/img/pexels-photo-167676.jpeg" alt="" class="card-img-top"/>
                <div class="card-body">
                    <h2 class="card-title">@project.Title</h2>
                    <p class="card-text">
                    </p>
                </div>
                <div class="card-footer card-footer--invis">
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@project.ProjectId" class="btn btn--org">Geef jouw mening</a>
                </div>
            </div>
        }
    </div>
</main>
<!-- /Content -->

