/*
  Button
*/
@import "../abstracts/all";

.btn {
  position: relative;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: $color-dark;
  color: $color-text-white;

  &:hover {
    background-color: $color-dark-hover;
    color: $color-text-white;
  }

  &.btn--lg {
    padding: 15px 48px;
    font-size: 1.5rem;
  }

  // Button in the color of the organisation
  &.btn--org {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &.btn--loading:hover {
    background-color: $color-dark;
  }

  &.btn--loading::after {
    content: "...";
    background-color: $color-dark;
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    animation: loadingButton 1s ease infinite;
  }

  /* button met witte achtergrond bij hover */
  &.btn__witteAchtergrond {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-background;
    margin-bottom: 25px;
    margin-left: 15%;
    padding-left: 40px;
    padding-right: 40px;

    @include screen-from("tablet") {
      margin-bottom: 50px;
    }
    /* Button breder gecentreerd */
    &.btn__dikker {
      margin-top: 50px;
      margin-left: auto;
    }
    /* Button login bij popup */
    &.btn__popupLogin {
      margin-left: 0;
    }

    /* Button om fase in te klappen */
    &.btn__fase {
      margin-left: 0;
      margin-bottom: 0;
    }
    /* Facebook button login */
    &.btn__popupFacebook {
      margin-left: 0;
      border: 1px solid $color-facebook;
      color: $color-facebook;
      background-color: $color-background;
      width: 250px;
      height: 50px;
      @include screen-from("tablet") {
        margin-right: 15px;
        margin-bottom: 15px;
        width: auto;
        height: auto;
      }
    }
    /* Google button login */
    &.btn__popupGoogle {
      width: 250px;
      height: 50px;
      background-color: $color-background;
      color: $color-primary;
      @include screen-from("tablet") {
        margin-left: 15px;
        margin-bottom: 15px;
        width: auto;
        height: auto;
      }
    }
  }
  &.btn__witteAchtergrond:hover {
    background-color: $color-background;
    color: $color-primary;

    &.btn__popupFacebook {
      background-color: $color-facebook;
      color: $color-background;
    }

    &.btn__popupGoogle {
      background-color: $color-primary;
      color: $color-text-white;
    }
  }
}

@keyframes loadingButton {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
