/*
  Circle
*/
@import "../abstracts/all";

/* Circel district Antwerpen */
.circle {
  width: 125px;
  cursor: pointer;
  height: 125px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  line-height: 125px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  user-select: none;

  &:hover {
    transition: 0.1s;
    opacity: 0.8;
  }
  
}
