@model IEnumerable<COI.BL.Domain.Project.Project>

@{
    ViewData["Title"] = "Superadmin";
}

<main class="content content--shadow container">
    <h1 class="padding-t1remM">Superadmin</h1>
    <div>
        <h4>Verander de instellingen</h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="nieuwPlatform"
                        asp-controller="Superadmin" asp-action="Index"
                    >Nieuw Platform</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background active"
                        id="activeProjects"
                        asp-controller="Superadmin" asp-action="ActiveProjects"
                    >Actieve Projecten</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="closedProjects"
                        asp-controller="Superadmin" asp-action="ClosedProjects">
                        Gesloten Projecten
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="latestActivity"
                        asp-controller="Superadmin" asp-action="LatestActivities"
                    >Laatste Activiteiten</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="url"
                       asp-controller="Superadmin" asp-action="URL"
                    >URL</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h4 class="padding-t1remM">Actieve Projecten</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-list mb-6">
                        @foreach (var activeProject in Model)
                        {
                            <div class="card">
                                <img src="/img/pexels-photo-167676.jpeg" alt="" class="card-img-top"/>
                                <div class="card-body">
                                    <h2 class="card-title">@activeProject.Title</h2>
                                    <p class="card-text">
                                    </p>
                                </div>
                                <div class="card-footer card-footer--invis">
                                    <a href="#" class="btn btn--org">Bekijk dit project</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>