@model COI.UI.MVC.Views.Superadmin.Index

@{
    ViewData["Title"] = "Superadmin";
}

<main class="content content--shadow container">
    <h1 class="padding-t1remM">Superadmin</h1>
    <div>
        <h4>Verander de instellingen</h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background active"
                        id="nieuwPlatform"
                        asp-controller="Superadmin" asp-action="Index"
                    >Nieuw Platform</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="activeProjects"
                        asp-controller="Superadmin" asp-action="ActiveProjects"
                    >Actieve Projecten</a>
                    
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="closedProjects"
                        asp-controller="Superadmin" asp-action="ClosedProjects"
                    >Gesloten Projecten</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="latestActivity"
                        asp-controller="Superadmin" asp-action="LatestActivities"
                    >Laatste Activiteiten</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="url"
                        asp-controller="Superadmin" asp-action="URL"
                    >URL</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h4 class="padding-t1remM">Nieuw Platform</h4>
            <div class="row">
                <div class="col-md-6">
                    <div
                        class="text-danger validation-summary-valid"
                        data-valmsg-summary="true"
                    >
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <form id="admin_change-logo-form">
                        <div class="form-group margin-b1rem">
                            <label for="Logo">Logo Organisatie</label>
                            <ul class="form__errors"></ul>
                            @* <input *@
                            @*     class="form-control" *@
                            @*     disabled *@
                            @*     type="text" *@
                            @*     id="Logo" *@
                            @*     name="Logo" *@
                            @*     value="Logo.jpeg" *@
                            @* /> *@
                            <img src="" class="" id="admin_org-logo">
                            <button
                                id="admin_change-logo"
                                type="submit"
                                class="btn btn-primary btn__witteAchtergrond btn__links btn__margintop"
                            >
                                Verander Logo
                            </button>
                            <input type="file" id="admin_logo-file-input" class="image-uploader__file-upload">
                        </div>
                    </form>
                    <form id="admin_change-color">
                        <div class="form-group margin-b1rem">
                            <label for="Kleur">Kleur Organisatie</label>
                            <input
                                class="form-control"
                                type="text"
                                name="color"
                                id="admin_org-color"
                            />
                            <button
                                id="btnKleur"
                                type="submit"
                                class="btn btn-primary btn__witteAchtergrond btn__links btn__margintop"
                            >
                                Verander Kleur
                            </button>
                        </div>
                    </form>
                    <form id="admin_change-identifier">
                        <div class="form-group margin-b1rem">
                            <label for="Naam">Naam Organisatie</label>
                            <ul class="form__errors"></ul>
                            <input
                                class="form-control"
                                type="text"
                                required
                                id="admin_org-identifier"
                                name="identifier"/>
                            <button
                                type="submit"
                                class="btn btn-primary btn__witteAchtergrond btn__links btn__margintop">
                                Verander Naam
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts
{
    <script type="text/javascript" src="/dist/admin.entry.js" defer></script>
}
