
<div class="container">
    @* <h1 class="mb-5">Create project</h1> *@
    
    @* <form id="project_create"> *@
    @*     <ul class="form__errors"></ul> *@
    @*      *@
    @*     <div class="form-group"> *@
    @*         <label for="project-title">Title</label> *@
    @*         <input required class="form-control" type="text" name="title" id="project-title"> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="project-description">Description</label> *@
    @*         <textarea required="" name="description" id="project-description" class="form-control"></textarea> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="project-start-date">Start date</label> *@
    @*         <input required class="form-control" type="date" name="start-date" id="project-start-date"> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <label for="project-end-date">End date</label> *@
    @*         <input required class="form-control" type="date" name="end-date" id="project-end-date"> *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         <button class="image-uploader__add btn">Add Image</button> *@
    @*         <div class="image-uploader__images"></div> *@
    @*         <input type="file" class="image-uploader__file-upload" accept="image/x-png,image/gif,image/jpeg" multiple> *@
    @*     </div> *@
    @*     <button type="submit" class="btn">Create</button> *@
    @* </form> *@
    
    
    <form method="post" class="editor mt-10" id="project_create">
        <h2 clas="mb-2">Maak een project aan</h2>
        
        <ul class="form__errors"></ul>
        
        <div class="form-group">
            <label for="project-title">Titel</label>
            <input required class="form-control" type="text" name="title" id="project-title">
        </div>
        <div class="form-group">
            <label for="project-start-date">Startdatum</label>
            <input required class="form-control" type="date" name="start-date" id="project-start-date">
        </div>
        <div class="form-group">
            <label for="project-end-date">Einddatum</label>
            <input required class="form-control" type="date" name="end-date" id="project-end-date">
        </div>

        <div class="editor__text-container mt-4">
            <div class="editor__options">
                <div class="editor__option editor__option--image">
                    <i class="material-icons">add_photo_alternate</i>
                    Foto toevoegen
                </div>
                @* <div class="editor__option editor__option--image"> *@
                @*     <i class="material-icons">add_location</i> *@
                @*     Locatie toevoegen *@
                @* </div> *@
                <div class="editor__option editor__option--video">
                    <i class="material-icons">video_call</i>
                    Video toevoegen
                </div>
            </div>

            <textarea
                name="text"
                class="editor__text textbox"
                placeholder="Project beschrijving"
            ></textarea>
        </div>

        <div class="editor__images"></div>
        <div class="editor__videos"></div>

        <input
            type="file"
            class="editor__file-upload editor__file-upload--image"
            accept="image/x-png,image/gif,image/jpeg"
        />
        <input
            type="file"
            class="editor__file-upload editor__file-upload--video"
        />
        <button type="submit" class="btn editor__submit mt-2">
            Project aanmaken
        </button>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript" src="/dist/project.entry.js" defer></script>
}
