
<div class="container content">
    <form method="post" class="editor mt-10" id="questionnaire_create">
        <h2 clas="mb-2">Maak een vragenlijst aan</h2>
        
        <ul class="form__errors"></ul>
        
        <div class="form-group">
            <label for="survey-title">Titel</label>
            <input required class="form-control" type="text" name="title" id="survey-title">
        </div>
        
        <div class="form-group">
            <label for="survey-text">Beschrijving</label>
            <textarea
                id="survey-text"
                name="description"
                class="form-control textbox"
            ></textarea>
        </div>

        <button type="submit" class="btn mt-2">
            Vragenlijst aanmaken
        </button>
        <input type="hidden" name="projectPhaseId" value="@Model" >
    </form>
</div>

@section Scripts
{
    <script type="text/javascript" src="/dist/questionnaire.entry.js" defer></script>
}
