@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Questionnaire.Questionnaire>

@{
	ViewBag.Title = "Vragenlijsten";
	Layout = "_Layout";
}

<main class="content content--shadow container">
<h1 class="mb-5">Vragenlijsten</h1>

<ul>
	@foreach (var questionnaire in Model)
	{
		<li>@Html.ActionLink(questionnaire.Title, "Details", new { id = questionnaire.QuestionnaireId })</li>
	}
</ul>
</main>

