@model System.Collections.Generic.IEnumerable<COI.BL.Domain.Ideation.Idea>

@{
	ViewBag.Title = "Overzicht";
	Layout = "_Layout";
}

@* <main class="content content--shadow container"> *@
@*     <h1 class="mb-5">Ideeen</h1> *@
@* *@
@*     <ul> *@
@*         @foreach (var idea in Model) *@
@*         { *@
@*             <li>@Html.ActionLink(idea.Title, "Details", new { id = idea.IdeaId })</li> *@
@*         } *@
@*     </ul> *@
@* </main> *@
