@using COI.BL.Domain.Ideation
@model COI.UI.MVC.Models.DTO.Ideation.IdeaDto

<main class="content content--more-top container">
    
    <div class="text-center">
        @Html.Partial("_Idea", Model)
    </div>
    
    <h1 class="text-center mt-8">
        <a href="" class="mr-5">Ja</a>
        <a href="">Neen</a>
    </h1>

</main>