@using COI.BL.Domain.User
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@model COI.UI.MVC.Models.Editor

@if (!Model.LoginRequired || SignInManager.IsSignedIn(User))
{
    <!-- Editor -->
    <form method="post" class="editor mt-10" id="@Model.FormId">
        <h2 clas="mb-2">Schrijf een eigen reactie</h2>

        <div class="editor__text-container">
            <div class="editor__options">
                <div class="editor__option editor__option--image">
                    <i class="material-icons">add_photo_alternate</i>
                    Foto toevoegen
                </div>
                @* <div class="editor__option editor__option--image"> *@
                @*     <i class="material-icons">add_location</i> *@
                @*     Locatie toevoegen *@
                @* </div> *@
                <div class="editor__option editor__option--video">
                    <i class="material-icons">video_call</i>
                    Video toevoegen
                </div>
            </div>

            <textarea
                name="text"
                class="editor__text textbox"
                placeholder="Schrijf een reactie"
            ></textarea>
        </div>

        <div class="editor__images"></div>
        <div class="editor__videos"></div>

        <input
            type="file"
            class="editor__file-upload editor__file-upload--image"
            accept="image/x-png,image/gif,image/jpeg"/>
        <input
            type="file"
            class="editor__file-upload editor__file-upload--video"/>

        <button type="submit" class="btn editor__submit mt-2">
            @Model.Type plaatsen
        </button>
    </form>
    <!-- /Editor -->
}
else
{
    <!-- Log in -->
    <section class="editor mt-10">
        <h2>Login om een @Model.Type te plaatsen</h2>
        
        <button class="btn" data-toggle="modal" data-target="#LoginModal">Log in</button>
        <button class="btn" data-toggle="modal" data-target="#RegisterModal">Maak een account</button>
    </section>
    <!-- /Log in -->
}
