<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=njo" />
    <title>@ViewData["Title"] - City of Ideas</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700" rel="stylesheet" />
    <script type="module" src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css">
</head>

<body>

<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Antwerpen</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Project" asp-action="Index">Projecten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Contact">Contact</a>
            </li>
        </ul>
        
        <partial name="_LoginPartial"/>
    </div>
</nav>
<!-- /HEADER -->

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content werk">
    <input class="search__input" type="text" placeholder="ZOEK" />
    <i class="fas fa-search zoekModal"></i>
  </div>
</div>
<!-- /Header -->

<partial name="_CookieConsentPartial"/>
@RenderBody()

<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer__container container">
        <div class="site-footer__top-row">
            <!-- Footer-projects -->
            <div class="site-footer__projects">
                <h3 class="title--light">Projecten</h3>
                <ul>
                    <li><a href="">Vrijbroekspark</a></li>
                    <li><a href="">Dorpsplein</a></li>
                    <li><a href="">Lage emissiezone</a></li>
                </ul>
            </div>
            <!-- /Footer-projects -->

            <!-- Footer-about -->
            <div class="site-footer__about ">
                <h3 class="title--light">Tree company</h3>
                The HSE Coordinator company has been providing its customers with
                safety, fire protection and RODO services since 2008
            </div>
            <!-- /Footer-about -->

            <!-- Footer-social-media -->
            <div class="site-footer__social-media">
                <h3 class="title--light">Follow us</h3>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <!-- /Footer-social-media -->
        </div>

        <!-- Footer-terms -->
        <div class="site-footer__terms">
            <span>
                <a href="">Terms of Use</a>
            </span>
            <span>
                <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </span>
        </div>
        <!-- /Footer-terms -->

        <!-- Footer-copyright -->
        <div class="site-footer__copyright">
            <a href="">
                <div>&copy; 2019 The tree company.</div>
                <div>All rights reserved</div>
            </a>
        </div>
        <!-- /Footer-copyright -->
    </div>
</footer>
<!-- /Footer -->

<!-- LoginModal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content login-popup">
            <div class="modal-body">
                <div class="row popup__row">
                    <div class="popup__afbeeldingkolom col-md-6">
                        <section
                            class="popup__afbeelding"
                            style="background-image: url('/img/pexels-photo-167676.jpeg')"
                        ></section>
                    </div>
                    <form class="popup__container col-md-6 col-sm-12" id="auth_login">
                        <h1 class="paginatitel paginatitel__popup mb-4">Log in</h1>
                        <ul class="form__errors"></ul>
                        <input
                            @* id="auth_login_email" *@
                            type="email"
                            name="email"
                            class="form__inputfield form__inputfield2 form__popupEmail form-control"
                            placeholder="Email"
                        />
                        <input
                            @* id="auth_login_password" *@
                            type="password"
                            name="password"
                            class="form__inputfield form__inputfield2 form__popupWachtwoord form-control"
                            placeholder="Wachtwoord"
                        />
                        <button class="btn btn__witteAchtergrond btn__popupLogin" type="submit">
                            Log In
                        </button>
                        <div class="login-popup__vergeten">Wachtwoord vergeten?</div>
                        <button class="btn btn__witteAchtergrond btn__popupFacebook">
                            <i class="fab fa-facebook-f popup__icoon" id="fb"></i>
                            <span class="login-popup__facebook">Facebook log in</span>
                        </button>
                        <button class="btn btn__witteAchtergrond btn__popupGoogle">
                            <i
                                class="fab fa-google popup__icoon popup_icoonGoogle"
                                id="google"
                            ></i>
                            <span class="login-popup__google"> Google log in</span>
                        </button>
                        <div class="login-popup__registreren">
                            Nog geen account? <b><u>Registreer hier!</u></b>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /LoginModal -->


<!-- RegisterModal -->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content login-popup">
            <div class="modal-body">
                <div class="row popup__row">
                    <div class="popup__afbeeldingkolom col-md-6">
                        <section
                            class="popup__afbeelding"
                            id="registreer-popup__afbeelding"
                            style="background-image: url('/img/pexels-photo-167676.jpeg')">
                        </section>
                    </div>
                    <form class="login-popup__container col-md-6 col-sm-12" id="auth_register">
                        <h1 class="paginatitel paginatitel__popup mb-4">Registreren</h1>
                        
                        <ul class="form__errors"></ul>

                        <div class="forms popup__forms">
                            <label class="radiobutton1" for="rdo1">
                                <input
                                    type="radio"
                                    id="rdo1"
                                    class="rdo1"
                                    name="radio"
                                    onclick="show1();"
                                    checked/>
                                <span class="rdo"></span>
                                <span>Burger</span>
                            </label>

                            <label class="radiobutton2" for="rdo2">
                                <input
                                    type="radio"
                                    id="rdo2"
                                    class="rdo2"
                                    name="radio"
                                    onclick="show2();"/>
                                <span class="rdo rdo2goed"></span>
                                <span>Organisatie</span>
                            </label>
                        </div>

                        <div id="div1" class="hide input__organisatie">
                            <input
                                type="text"
                                class="registreer-popup__organisatie-input form-control"
                                id="organisatie-inputveld"
                                placeholder="Organisatie"/>
                        </div>

                        <div class="form__inputfield form__inputfield2">
                            <div class="row">
                                <div class="col">
                                    <input
                                        type="text"
                                        name="first_name"
                                        class="form-control inputvoornaam"
                                        placeholder="Voornaam"/>
                                </div>
                                <div class="col">
                                    <input
                                        type="text"
                                        name="last_name"
                                        class="form-control inputachternaam"
                                        placeholder="Achternaam"/>
                                </div>
                            </div>
                        </div>

                        <div class="form__inputfield form__inputfield2">
                            <div class="row">
                                <div class="col">
                                    <input
                                        type="text"
                                        name="age"
                                        class="form-control inputleeftijd"
                                        placeholder="Leeftijd"/>
                                </div>
                                <div class="col">
                                    <input
                                        type="text"
                                        name="zip"
                                        class="form-control inputpostcode"
                                        placeholder="Postcode"/>
                                </div>
                            </div>
                        </div>

                        <select name="sex" class="custom-select selectGeslacht">
                            <option selected>Geslacht</option>
                            <option value="1">Man</option>
                            <option value="2">Vrouw</option>
                        </select>

                        <input
                            type="text"
                            name="email"
                            class="form__inputfield form__inputfield2 form-control"
                            placeholder="Email"/>
                        
                        <div class="form__inputfield form__inputfield2">
                            <div class="row">
                                <div class="col">
                                    <input
                                        type="password"
                                        name="password"
                                        class="form-control inputwachtwoord"
                                        placeholder="Passwoord"/>
                                </div>
                                <div class="col">
                                    <input
                                        type="password"
                                        name="password_re"
                                        class="form-control inputherhaalwachtwoord"
                                        placeholder="Herhaal passwoord"/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn__witteAchtergrond btn__popupLogin">
                            Registreer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /RegisterModal -->

@RenderSection("Scripts", required: false)
</body>
</html>
