@using Microsoft.AspNetCore.Identity
@using COI.BL.Domain.User
@using COI.UI.MVC.Helpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IOrganisationsHelper OrganisationsHelper;

<ul class="nav navbar-nav navbar-right">
    <div class="nav-inherit">
    @* <li class="nav-item"> *@
    @*     <a href="#" class="nav-link nav-login" id="searchIcon"> *@
    @*         <i class="fas fa-search"></i> *@
    @*     </a> *@
    @* </li> *@
    <li class="nav-item">
        <a
            target="_blank"
            href="https://www.facebook.com/treecompany.be/"
            class="nav-link nav-login">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="nav-item">
        <a target="_blank" href="https://twitter.com/treecomp" class="nav-link nav-login">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    </div>
    
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link nav-login" id="manage" href="@("/" + OrganisationsHelper.GetOrganisationIdentifier() + "/Account/Manage")" title="Manage">
                <i class="fas fa-user"></i> @UserManager.GetUserName(User)
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Context.Request.Path">
                <button type="submit" class="nav-link nav-login">
                    <i class="fas fa-sign-in-alt"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link nav-login" id="registerButton" data-toggle="modal" data-target="#RegisterModal">
                <i class="fas fa-user"></i> Sign Up
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link nav-login" data-toggle="modal" data-target="#LoginModal" id="loginButton">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
    }
</ul>
