@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<main class="content content--more-top content--shadow container">

<h1 class="padding-t1remM">Accountbeheer</h1>

<div>
    <h4>Accountinstellingen wijzigen</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</main>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
