@page "/{orgId}/Account/PersonalData"
@using COI.UI.MVC.Helpers
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="padding-t1remM">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Gelieve ons te contacteren via het contactformulier om uw persoonlijke data op te vragen.</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}