.contact {
  padding: 50px 20px;
  position: relative;
  background: $color-background;
  &-wrap {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    &__pannel-left {
      margin: 0;
      display: inline-block;
      padding-right: 0;
      vertical-align: top;
      width: 70%;
      line-height: 1.5;
      text-align: center;

      @include screen-from("tablet-small"){
        padding-right: 10%;
        text-align: left;
      }
      &__h3{
        text-align: center;
        @include screen-from("tablet-small"){
          text-align: left;
        }
      }
      &__contact-form {
        margin-top: 30px;
        .inputContact {
          margin: 25px auto;
          width: 100%;
          @include screen-from("tablet-small"){
            margin: 25px 0;
            width: 70%;
          }
        }
      }
    }
    &__pannel-right{
      display: inline-block;
      width: 100%;
      border-top: 1px solid #ccc;
      text-align: center;
      
      @include screen-from("tablet-small"){
        width: auto;
        text-align: left;
        border-top: none;
      }
      &__h3{
        text-align: center;
        @include screen-from("tablet-small"){
          text-align: left;
        }
      }
    }
  }
}

.margin-t35rem {
  margin-top: 3.5rem;
  @include screen-from("tablet-small"){
    margin-top: 1.5rem;
  }
}
