@model COI.UI.MVC.Views.Admin.Index

@{
    ViewData["Title"] = "Admin";
}

<main class="content content--shadow container">
    <h1 class="padding-t1remM">Admin</h1>
    <div>
        <h4>Verander de instellingen</h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background active"
                        id="nieuwPlatform"
                        asp-controller="Admin" asp-action="Index"
                    >Nieuw Project</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="activeProjects"
                        asp-controller="Superadmin" asp-action="ActiveProjects"
                    >Actieve Projecten</a>
                    
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="closedProjects"
                        asp-controller="Superadmin" asp-action="ClosedProjects"
                    >Gesloten Projecten</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="latestActivity"
                        asp-controller="Superadmin" asp-action="LatestActivities"
                    >Laatste Activiteiten</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link nav-item__background"
                        id="url"
                        asp-controller="Superadmin" asp-action="URL"
                    >URL</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h4 class="padding-t1remM">Nieuw Project</h4>
            <div class="row">
                <div class="col-md-6">
                    <form id="profile-form" method="POST">
                        <div
                            class="text-danger validation-summary-valid"
                            data-valmsg-summary="true"
                        >
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="form-group margin-b1rem">
                            <label for="Logo">Titel project</label>
                            <input
                                class="form-control"
                                type="text"
                                id="TitelProject"
                                name="Titel"
                                value=""
                            />
                        </div>
                        <div class="form-group margin-b1rem">
                            <label for="Doelstelling">Doelstelling project</label>
                            <input
                                class="form-control"
                                type="text"
                                id="Doelstelling"
                                name="Doelstelling"
                                value=""
                            />
                        </div>
                        <div class="form-group margin-b1rem">
                            <label for="Startdatum">Startdatum Project</label>
                            <input
                                class="form-control"
                                type="text"
                                id="Startdatum"
                                name="Startdatum"
                                value="16/05/2019"
                            />
                        </div>
                        <div class="form-group margin-b1rem">
                            <label for="Einddatum">Einddatum Project</label>
                            <input
                                class="form-control"
                                type="text"
                                id="Einddatum"
                                name="Einddatum"
                                value="16/05/2019"
                            />
                            <button
                                id="btnAanmakenProject"
                                type="submit"
                                class="btn btn-primary btn__witteAchtergrond btn__links btn__margintop"
                            >
                                Maak project aan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>